<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ykse.blogs.dao.WechatFavoriteDao">
	<resultMap id="WECHAT_FAVORITE_INFO" type="com.ykse.blogs.bean.WechatFavoriteInfo">
		<id column="ID_WECHAT_FAVORITE_INFO" property="idWechatFavoriteInfo" jdbcType="INTEGER" />
		<result column="HASH" property="hash" jdbcType="VARCHAR" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="DATE_CREATED" property="dateCreated" jdbcType="TIMESTAMP" />
		<result column="DATE_UPDATED" property="dateUpdated" jdbcType="TIMESTAMP" />
		<collection property="tags" column="idWechatFavoriteInfo" javaType="ArrayList" ofType="com.ykse.blogs.bean.WechatFavoriteTag" select="getTagsById" >
			<result property="idWechatFavoriteTag" column="ID_WECHAT_FAVORITE_TAG" />
			<result property="name" column="NAME" />
		</collection>
	</resultMap>

	<resultMap id="WECHAT_FAVORITE_TAG" type="com.ykse.blogs.bean.WechatFavoriteTag">
		<id column="ID_WECHAT_FAVORITE_TAG" property="idWechatFavoriteTag" jdbcType="INTEGER" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getAll" resultMap="WECHAT_FAVORITE_INFO">
		SELECT *
		FROM WECHAT_FAVORITE_INFO
		ORDER BY DATE_CREATED DESC
 	</select>

	<select id="getTagsById" resultMap="WECHAT_FAVORITE_TAG">
		SELECT *
		FROM WECHAT_FAVORITE_TAG
		WHERE ID_WECHAT_FAVORITE_INFO = #{idWechatFavoriteInfo}
	</select>
	
</mapper>